asgiref==3.12.1
click==8.4.2
colorama==0.4.6
crispy-bootstrap5==2026.3
cssbeautifier==2.0.3
dj-database-url==3.1.2
Django==6.0.7
django-crispy-forms==2.7
djhtml==3.0.11
djlint==1.42.3
EditorConfig==0.17.1
gunicorn==26.1.0
jsbeautifier==2.0.3
json5==0.15.0
npm==0.1.1
optional-django==0.1.0
pathspec==1.1.1
pillow==12.3.0
psycopg2-binary==2.9.12
PyYAML==6.0.3
regex==2026.7.19
sqlparse==0.5.5
tzdata==2026.3
whitenoise==6.12.0
